<div class='page-header'>
  <h2>Manage articles
    <div class="pull-right">
      <%= link_to "New Article", {:controller => 'articles', :action => 'new'}, :class => "btn btn-info" %>
    </div>
  </h2>
</div>