
<div class='page-header'>
  <h2>Manage articles
    <div class="pull-right">
      <%= link_to "New Article", {:controller => 'articles', :action => 'new'}, :class => "btn btn-info" %>
    </div>
  </h2>
</div>

<table class="table">
    <thead>
      <tr>
        <th>标题</th>
        <th>状态</th>
        <th>日期</th>
      </tr>
    </thead>
    <tbody>
      <% for article in @articles %>
      <tr>
        <td><%= article.title %></td>
        <td><%= article.published %></td>
        <td><%= article.published_at %></td>
      </tr>
      <% end %>
    </tbody>
  </table>