<div>

  <% for article in @articles %>
  	<div class="post">
      
	    <h2><%= link_to article.title, "articles/view/" + article.id.to_s %></h2>
	    <p><%= article.content %><p>
  	</div>
  <% end %>

</div>

